<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <title>People Management</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
</head>
<body class="container">
  <br>
  <center>
  <div>
    <p>Create Person</p>  
  </div>
  </center>
  <div ng-app="dataPerson" ng-controller="controlPerson">
    <br>
    <label>Name</label>
    <input ng-model="name" type="text"><br>
    <label>Last Name</label>
    <input ng-model="lastName" type="text"><br>
    <label>Gender</label>
    <input ng-model="gender" type="text"><br>
    <label>Date Born</label>
    <input ng-model="dateBorn" type="date"><br>
    <label>Image (optional)</label>
    <input ng-model="image" type="text"><br>
    <label>Date Start with the company</label>
    <input ng-model="dateStart" type="date"><br>
    <label>Salary</label>
    <input ng-model="salary" type="number"><br>
    <input name="btnRegister" value="Register" type="submit" ng-click="createPerson()">
  </div>
    
</body>
  <script type="javascript/text" src="../controllers/index.js"></script>
  <script type="javascript/text" src="../services/person.js"></script>
</html>